:root {
  --primary-color: #526a69;
  --secondary-color: #6a5253;
  --text-color: #525f6a;
  --bg-color: #fff;
  --dark-grey: #2b2b2b;

  --primary-background-color: #f6f5ef;
  --primary-text-color: #184D32;
  --page-header__name-color: #64413F;
  --primary-link-color: #18454D;
  
}

* {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color); 
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 2;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

/* Page Header */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.page-header__name {
  color: var(--page-header__name-color);
}

.page-header__subheading {
  color: var(--primary-text-color); 
  margin-top: 0;
}

.page-header__subheading span {
  font-weight: 700;
  font-style: italic;
  color: var(--page-header__name-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;    
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  text-decoration: none;
}

.navigation-list__item--active {
  font-weight: bold;
}

a {
  color: var(--primary-link-color);
}

a:hover, a:focus {
  /*no underline when hover over link*/
  text-decoration: none;
}

a:visited {
  color: var(--primary-text-color);
}

a:active {
  color: var(--primary-link-color);
}

/* Main Section */


.profile, .about-me, .about-me__table, .contact {
  max-width: 50em;
  margin: 5em auto;
}

.profile__portrait {
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 3em;
  margin-bottom: 10em;
  border-radius: 50%;
}

.profile span {
  font-style: italic;
  font-weight: 700;
  color: #6a5253;
}

.about-me__table th, .about-me__table td {
  padding: 0 30px;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to{
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#email, #phone, #message {
  display: block;
}

#contact-form input {
  margin-bottom: 10px;
}


input[type="Submit"] {
  /* overwrites browser defaults and resets the border*/
  border: none;
  /*takes the font from the outer container*/
  font-family: inherit;
  /*styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  margin-top: 10px;
  transition-property: opacity;
  transition-duration: 0.9s;
}

input[type="Submit"]:hover, input[type="Submit"]:focus {
  cursor: pointer;
  opacity: 0.8;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid__item {
  background-color: #EEEDE2;
  padding: 1em;
  border-radius: 5px;
  box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.25);
}

.grid__item span {    
  font-style: italic;
  color: var(--page-header__name-color);
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  border-top: 1px solid lightgray;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

/* Filter dropdown */
.custom-dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-btn {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 10px;
  border: none; 
  cursor: pointer;
  width: 200px;
  text-align: center;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  margin-bottom: 10px;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 300px;
  max-height: 500px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 90%;
  overflow: auto;
}

.dropdown-list li {
  padding: 8px 10px;
}

.dropdown-list li:hover {
  background-color: #f1f1f1;
}

.custom-dropdown input[type="checkbox"] {
  margin-right: 10px;
}

.custom-dropdown input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
}

.custom-dropdown input[type="checkbox"]:checked + label {
  font-weight: bold;
}

@media all and (max-width: 600px) {
  .profile, .about-me, .about-me__table, .contact {
      max-width: min-content;
  }   
  .profile__portrait {
      clear: both;
      margin-right: 0;
      margin-bottom: 4em;
  }
  
  .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5px;
  }

  .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
}
